.testekaka {
    background: rgb(55,39,164);
    background: linear-gradient(90deg, rgba(55,39,164,1) 0%, rgba(44,29,135,1) 47%, rgba(175,135,255,1) 100%);
    padding-bottom: 1rem;
}

.title {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    font-family: 'Krub', sans-serif;
    color: white;
}

.title2 {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-family: 'Krub', sans-serif;
    color: black;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header */ 
.header {
    font-family: 'Krub', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: #F2F2F2;
    background-color: #181818;
    padding: 1rem 0;
    font-weight: 700;
}

.header__discord {
    width: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ About */ 
    .about { 
        text-align: center;
    }

    .about__logo {
        width: 300px;
    }

    .about__name {
        font-size: 5rem;
        font-weight: bold;
        padding-bottom: .5rem;
    }

    .about__level {
        text-align: center;
        font-size: 2.5rem;
        font-weight: normal;
        padding-bottom: .5rem;
    }

    .about__description {
        font-weight: normal;
        font-size: 1.25rem;
    }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Banner */ 
.banner {
    display: flex;
    
    justify-content: center;
    background-color: #f2f2f2;
    padding: 1rem 0;
}

.banner__image {
    
    width: 55%;
    border-radius: 5px;
    display: flex;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Estoque */ 

.estoque {
    text-align: center;
    justify-content: center;
    font-family: 'Krub', sans-serif;
    gap: 10px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

@media screen and (min-width: 0px) {
    .estoque {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .estoque {
        display: flex;
        flex-direction: column;
    }
}

.estoque__box {
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 2) 0px 5px 15px;
    color: #181818;
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.estoque-influencer {
    text-align: center;
    justify-content: center;
    font-family: 'Krub', sans-serif;
    gap: 10px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.estoque__box-influencer {
    width: 50%;
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 2) 0px 5px 15px;
    color: #181818;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: 0 auto;
}

.estoque__product-image-influencer {
    width: 100%;
    border-radius: 5px;
    margin: .5rem 0;
}


.estoque__weapon-title {
    font-weight: 700;
    padding-top: .3rem;
    color: rgb(55,39,164);
}

.estoque__weapon-health {
    font-weight: 700;
}

.estoque__product-image {
    width: 100%;
    border-radius: 5px;
    margin: .5rem 0;
}

.estoque__float-orange{
    color: #ef8641;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.estoque__trade-status {
    font-weight: 700;
    padding-bottom: .5rem;
}

.estoque__price-old {
    text-decoration: line-through;
    font-weight: 700;
}

.estoque__price {
    color: green;
    font-weight: 700;
    padding-bottom: .5rem;
}

.estoque__inspect-button {
    border-radius: 5px;
    margin-top: .2rem;
    cursor: pointer;
    border: none;
    background-color: #181818;
    color: #F2F2F2;
    width: 100%;
    padding: 0.5rem 0;
    transition: 0.5s;
    font-weight: 700;
}

.estoque__inspect-button:hover {
    transition: 0.5s;
    background-color: rgb(55,39,164);
}

.estoque__icon-steam {
    width: 15px;
}

.estoque__inspect-button2 {
    border-radius: 5px;
    margin-top: .2rem;
    cursor: pointer;
    border: none;
    background-color: #181818;
    color: white;
    width: 100%;
    padding: 0.5rem 0;
    transition: 0.5s;
    font-weight: 700;
}

.estoque__inspect-button2:hover {
    transition: 0.5s;
    background-color: green;
    
}

a {
    color: #F2F2F2;
    text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer */ 
.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #181818;
    color: white;
    font-family: 'Krub', sans-serif;
    font-weight: 700;
}

.zoom {
    overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Others */ 

audio {
    width: 100%;
    padding: -2rem 0;
    border-radius: 0%;
    background-color: #F2F2F2;    
}

.estoque__inspect-button-music {
    border-radius: 5px;
    margin-top: .2rem;
    cursor: pointer;
    border: none;
    background-color: #F2F2F2;
    color: #F2F2F2;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 2) 0px 5px 15px;
    transition: 0.5s;
    font-weight: 700;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Effect Zoom Image */ 
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.lightbox img{
    max-width: 65%;
    max-height: 65%;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.lightbox:target{
    outline: none;
    display: block;
}

@media screen and (max-width: 768px) {
    .lightbox img {
        max-width: 90%;
        max-height: 90%;
        margin-top: 50%;
    }
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Krub', sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
}

nav.menu-lateral {
    font-family: 'Krub', sans-serif;
    width: 50px;
    height: 100%;
    background-color: #181818;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover {
    width: 250px;
}

.btn-exapndir {
    width: 100%;
    padding-left: 10%;
}

.btn-expandir > i{
    color: wheat;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu:hover {
    transition: .2s;
    background-color: #34279d;
    border-radius: 5px;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 5%;
    display: flex;
    line-height: 20px;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 20px;
}
